aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==24.2.0
frozenlist==1.7.0
idna==3.10
multidict==6.6.3
pillow==10.4.0
py-cord==2.6.1
python-dotenv==1.1.1
RapidFuzz==3.13.0
yarl==1.20.1
